body {
  font-weight: 500;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 70px 20px 70px;
  background-image: url(https://cdn.abcotvs.com/dip/images/14393078_020624-kabc-ap-marvel-generic-logo.jpg?w=1900);
}

.storyDiv {
  width: 600px;
  height: 270px;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
}

.blog {
  display: none;
  justify-content: center;
  padding: 70px;
}

.blogimg {
  width: 400px;
  border-radius: 10px;
  margin: 20px;
}

.seeMore {
    margin: 30px 0 30px 220px;
}

a,
button {
  background-color: red;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  border: 3px solid rgb(108, 0, 0);
}

a:hover,
button:hover {
  background-color: rgb(190, 0, 0);
}

h1 {
  margin-top: 20px;
}

header {
  background-color: darkred;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid rgb(109, 0, 0);
}

.regDiv,
.logDiv {
  display: none;
  position: absolute;
  top: 150px;
  right: 150px;

  padding: 10px;
  border: 2px solid rgb(114, 0, 0);
  border-radius: 10px;
  margin: 20px;
  width: 40%;
  background-color: rgb(243, 79, 79);
}

.newClass {
  display: flex;
}

input {
  background-color: rgb(255, 128, 128);
  margin: 4px;
  border: none;
}

::placeholder {
  color: rgb(87, 0, 0);
  font-style: italic;
}

